/*
 * Made by Erik Terwan
 * 24th of November 2015
 * All rights reserved
 *
 * Modified by: Corey Willinger
 */

a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

a:hover {
    color: tomato;
}

.scenario-menuItem {
    text-align: left;
    color: #EEE;
    background-color: #777;
    padding: 2px 0 2px 8px;
    margin: 0;
    cursor: pointer;
}

.scenario-menuItem:hover {
    background-color: #007069;
}

#menu-header {
    margin-bottom: 4px;
    color: #FFF;
    background-color: #111;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 3px 3px 3px #333;

}

.scenario-title {
    font-size: 1.1em;
    margin: 2px 0 2px 2px;
    padding: 2px;
}

.scenario-desc {
    font-size: 0.9em;
    margin: 2px 0 2px 15px;
    padding: 2px;
}

.scenario-node-details {
    display: flex;
    margin-left: 4px;
    text-align: center;
    margin-bottom: 8px;
    list-style-type: none;
}

.nodeDetailContainer{
    background-color: #7F7FFF;
    display:inline-block
}

.networkContainer {
    min-width: 340px;
    background-color: lightgrey;
    margin-left: 18px;
    text-align: left;

   }

.networkbutton {
    float: right;
}

.addbutton {
    margin-left: 4px;
}


.resourceLabel{
    width: 33%;
    margin: 4px auto;
    display: inline-block;
    text-align: center;
}

.resourceItemBox{
    width: 100px;
    margin: 5px;
    display: inline-block;
    text-align: center;
}

.resourceContainer{
    width: 100%;
    margin: 4px 4px 4px 0 ;
}

.node-details {
    text-align: left;
    margin: 4px;
}

.custom-settings {
    margin: 2px 0 2px 6px;
    padding: 6px;
}

#menuToggle {
    width:50px;
    display: block;
    position: relative;
    top: -70px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#reload-button {
    height: 30px;
    position: relative;
    top: -100px;
    left: 100px;
    z-index: 1;
    -moz-transition: transform 1s;
    -webkit-transition: transform 1s;
    transition: transform 1s;
}

.flip {
    transform: rotate(360deg);
  }

#menuToggle > input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
}

/*
 * Just a quick hamburger
 */

#menuToggle .menubar {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle .menubar:first-child {
    transform-origin: 0 0;
}

#menuToggle .menubar:nth-last-child(2) {
    transform-origin: 0 100%;
}




/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */

#menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */

#menu {
    position: absolute;
    width: 300px;
    margin: 30px 0 0 -50px;
    background: #ededed;
    list-style-type: none;
    transform-origin: 0 0;
    transform: translate(-110%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    box-shadow: 5px 5px 5px #777;
    z-index: 10;
}

/*
 * And let's fade it in from the left
 */

#menuToggle input:checked ~ div {
    transform: scale(1.0, 1.0);
    opacity: 1;
}
